.select-wrapper-small{
  margin: 0 auto;
  width: 40%;
  font-size: .5em;
}
.select-wrapper-medium{
  margin: 0 auto;
  width: 65%;
  font-size: .9em;
}
.select-wrapper-large{
  margin: 0 auto;
  width: 100%;
}
.select-container {
  
  color: #FFF;
  background-color:  #282a35;
  border: 1px solid  #838282;
  margin: 1em 0;
  padding: 0em;
  max-height: 400px;
  overflow-y: scroll;
}

.select {
  
  padding: .5em 0 .5em .5em;
  border-radius: 10px;
  display: flex;
  justify-content: space-between; 
}

.select-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: .5em 1em;
}
.select-form input {
  display: none;
  margin: 1em;
  
}
.label {
  border-radius: 5px;
}
.label:hover{
  background: #e7e7e7;
  color: #3A3C48;
}
.select-form-open{
  display: none;
}